<p>

	<div>
		<h1>
		<%= @todo.title %>
		</h1>
	</div>

	<div>
		<h4>Enddatum</h4>
		<%= @todo.end_date %>
	</div>

	<div>
		<h4>Priorität</h4>
		<%= @todo.prio %>
	</div>

	<div>
		<h4>Sonstiges</h4>
		<%= @todo.extention %>
	</div>

</p>
<%= link_to "Zurück", todos_path %>