<%= form_tag(sessions_path) do %>

<fieldset>
	<legend>Login</legend>

	<div class="row">
		<div class="medium-2-colums">
			<%= label_tag :usernamem %>
		</div>
		<div class="medium-10-colums">
			<%= text_field_tag :username %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2-colums">
			<%= label_tag :password %>
		</div>
		<div class="medium-10-colums">
			<%= text_field_tag :password %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2-colums">
			<%= submit_tag "Anmelden", class: "button" %>
		</div>
		<div class="medium-10-colums"></div>
	</div>

</fieldset>

<% end %>