<% movie = @zerot %>
<div class="panel">
		<div class="row">
			<div class="medium-9 columns">

				<div class="row">
					<div class="medium-6 columns">
						<h3><%= link_to movie.titel.titleize, movie_path(movie.id) %></h3>
					</div>
					<div class="medium-6 columns"></div>
				</div>

				<div class="row">
					<div class="medium-2 columns">
						<%= image_for(movie) %>
					</div>
					<div class="medium-10 columns">

						<div class="row">
							<div class="medium-2 columns">
								Release:
							</div>
							<div class="medium-10 columns">
								<%= time_ago_in_words(movie.release) %>
							</div>
						</div>
						<div class="row">
							<div class="medium-2 columns">
								Länge:
							</div>
							<div class="medium-10 columns">
								<%= durati(movie) %>
							</div>
						</div>
						<div class="row">
							<div class="medium-2 columns">
								Rating:
							</div>
							<div class="medium-10 columns">
								<%= movie.rating %>
							</div>
						</div>
						<div class="row">
							<div class="medium-2 columns">
								Video-Url:
							</div>
							<div class="medium-10 columns">
								<%= link_to movie.vidurl, movie.vidurl %>
							</div>
						</div>

					</div>
				</div>

			</div>

			<div class="medium-3 columns">
				<% if @descr %>
					videoplayer noch einzubinden
			</div>
		</div>

		<div class="row">
			<div class="medium-9 columns">

					<div class="row">
							<div class="medium-2 columns">
								Director:
							</div>
							<div class="medium-10 columns">
								<%= movie.director %>
							</div>
					</div>
					<div class="row">
							<div class="medium-2 columns">
								Besetzung:
							</div>
							<div class="medium-10 columns">
								<%= movie.cast %>
							</div>
					</div>
					<div class="row">
							<div class="medium-2 columns">
								Description:
							</div>
							<div class="medium-10 columns">
								<%= movie.description %>
							</div>
					</div>
					<div class="row">
							<div class="medium-2 columns">
								Umsatz:
							</div>
							<div class="medium-10 columns">
								<%= "Der Gesamtumsatz der Films liegt bei #{movie.total_gross} Euro" %>
							</div>
					</div>

			</div>
			<div class="medium-3 columns"></div>
		</div>



				<% else %>
					<ul class="stack button-group">
						<li>Edits</li>
					  <li><%= link_to "Show", movie_path(movie.id), type: "button", class: "button" %></li>
					  <li><%= link_to "Edit", edit_movie_path(movie.id), type: "button", class: "button" %></li>
					  <li><%= link_to "Delete", movie_path(movie.id),method: :delete, data: {confirm: "Wirklich?!"}, type: "button", class: "button" %></li>
					</ul>
			</div>
		</div>
				<% end %> 
				
		
	</div>
