<h1>Der Film</h1>

<!--<h2><%= @movie.titel %></h2>

<h3>Beschreibung</h3>
<p><%= @movie.description %></p>

<h3>Rating</h3>
<p><%= @movie.rating %></p>

<h3>Umsatz</h3>
<p><%= @movie.total_gross %></p>

<h3>Erschienen</h3>
<p><%= @movie.release %></p>-->

<%= render "type" %>



<%movie = @movie %>

	<div class="panel">
		<div class="row">
			<div class="medium-9 columns">

				<div class="row">
					<div class="medium-6 columns">
						<h3><%= link_to movie.titel.titleize, movie_path(movie.id) %></h3>
					</div>
					<div class="medium-6 columns"></div>
				</div>

				<div class="row">
					<div class="medium-2 columns">
						<%= image_for(movie) %>
					</div>
					<div class="medium-10 columns">

						<div class="row">
							<div class="medium-2 columns">
								Release:
							</div>
							<div class="medium-10 columns">
								<%= time_ago_in_words(movie.release) %>
							</div>
						</div>
						<div class="row">
							<div class="medium-2 columns">
								Rating:
							</div>
							<div class="medium-10 columns">
								<%= movie.rating %>
							</div>
						</div>
						<div class="row">
							<div class="medium-2 columns">
								Video-Url:
							</div>
							<div class="medium-10 columns">
								<%= link_to movie.vidurl, movie.vidurl %>
							</div>
						</div>

					</div>
				</div>

			</div>

			<div class="medium-3 columns">
				


			</div>

		</div>
	</div>





<p><%= link_to "Back", movies_path, type: "button", class: "button" %></p>