<h3>Projekt: <%= @project.title %> </h3>

	<table width="100%">
		<tr>
				<th>Was</th>
				<th>Beschreibung</th>
				<th>Wann</th>
				<th></th>
		</tr>
		<tr>
				<td><%= @project.title %></td>
				<td><%= @project.description %></td>
				<td><%= @project.start_date %></td>
				<td>
					<%= link_to "Tasks anzeigen", project_tasks_path(@project.id), class: "button" %>
					<%= link_to "Bearbeiten", edit_project_path(@project.id), class: "button" %>
					<%= link_to "Löschen", project_path(@project.id), method: :delete, class: "button" %>
				</td>
		</tr>
	</table>

<%= link_to "Back", projects_path, class: "button" %>

