<h3>Alle bevorstehenden Projekte</h3>

	<table width="100%">
		<tr>
			<th>Was</th>
			<th>Beschreibung</th>
			<th>Wann</th>
			<th>Ersteller</th>
			<th></th>
		</tr>
		<% @projects.each do |a| %>
		<tr>
			<td><%= a.title %></td>
			<td><%= a.description %></td>
			<td><%= a.start_date %></td>
			<td><%= a.cre_name %></td>
			<td>
				<%= link_to "Anzeigen", project_path(a.id), class: "button" %>
				<%= link_to "Bearbeiten", edit_project_path(a.id), class: "button" %>
				<%= link_to "Löschen", project_path(a.id), method: :delete, class: "button" %>
			</td>
		</tr>
		<% end %>
	</table>

<%= link_to "Aktuelle Projekte anzeigen", projects_path, class: "button" %></br>
<%= link_to "Neues Projekt anlegen", new_project_path, class: "button" %>
