<h1><%= ein_mehrzahl %></h1>
<table>
	<tr>
		<th>Titel</th>
		<th>Rating</th>
		<th>Umsatz</th>
		<th>Release</th>
		<th>Beschreibung</th>
	</tr>
	<% @movies.each do |movie| %>
	<tr>
		<td><%= movie.titel %></td>
		<td><%= movie.rating %></td>
		<td><%= currenc(movie) %></td>
		<td><%= movie.release %></td>
		<td><%= sinpluanz(movie) %></td>
	</tr>
	<% end %>
</table>