<h1>Registrierte Besucher</h1>


<table width="100%">
<thead>
	<tr>
		<th>Name</th>
		<th>Alias</th>
		<td>Options</td>
	</tr>
</thead>

<tbody>
<% @visitors.each do |v| %>
	<tr>
		<td><%= v.name %></td>
		<td><%= v.username %></td>
		<td><%= link_to "Anzeigen", visitor_path(v.id), class: "blue" %> <%= link_to "Bearbeiten", edit_visitor_path(v.id) %> <%= link_to "Löschen", visitor_path(v.id), method: :delete %></td>
	</tr>
<% end %>
</tbody>
</table>