<%= form_tag(sessions_path) do %>
	
	<fieldset>

		<legend>Anmeldung</legend>

			<div class="row">
				<div class="medium-2 columns">
					<%= label_tag :email %>
				</div>
				<div class="medium-10 columns">
					<%= text_field_tag :email %>
				</div>
			</div>

			<div class="row">
				<div class="medium-2 columns">
					<%= label_tag :password %>
				</div>
				<div class="medium-10 columns">
					<%= text_field_tag :password %>
				</div>
			</div>

			<div class="row">
				<div class="medium-2 columns">
					<%= submit_tag "Anmelden" %>
				</div>
				<div class="medium-10 columns"><div>
			</div>

	</fieldset>

<% end %>